<p>
  <button (click)="createGroup()">Create Group</button>
  <button (click)="getAllGroups()">Get All Groups</button>
  <button (click)="getOneGroup()">Get One Group</button>
  <button (click)="updateGroup()">Update Group</button>
  <button (click)="deleteGroup()">Delete Group</button>
</p>

<p>
  <button (click)="createInvite()">Create Invite</button>
  <button (click)="sendInvite()">Send Invite</button>
  <button (click)="getOneInvite()">Get One Invite</button>
  <button (click)="deleteInvite()">Delete Invite</button>
</p>
