<style>
.content {
  max-width: 225px;
  margin: auto;
}
</style>
<body>
<div class="content">
  <p>
    Create Event:
  </p>

  <br>

  <br>

  Event Title:<br>
  <input type="text" name="event title" [(ngModel)]="EventTitle"><br>
  Event Date:<br>
  <input type="text" name="event date" [(ngModel)]="ExchangeTime"><br>
  List Deadline:<br>
  <input type="text" name="list deadline" [(ngModel)]="ListDeadline"><br>
  Invite:<br>
  <div *ngFor="let member of Members">
  <input type="email" name="emailinvite_{{member.id}}" [(ngModel)]="member.email"><br>
  </div>
  <button (click)="AddMember()"> Add Member </button>
  <button (click)="SubmitForm()"> Submit </button>
</div>
</body>