<div class="header">
  <a class="btn btn-primary" [routerLink]="['/create_event']">Create Gift Exchange</a>
  <h2> Your Gift Exchages</h2>
</div>

<div class="app" *ngFor="let group of groups">
  <div class="card">
    <div class="container" (click)="navigateToGroup(group.Id)">
      <h4><b>{{group.Description}}</b></h4> 
      <p><i>Wish List Deadline</i>: {{group.ListDeadline | date:'longDate'}} {{group.ListDeadline | date:'shortTime'}}</p> 
      <h5><b>Event Date</b>: {{group.ExchangeTime | date:'longDate'}}</h5>  
    </div>
  </div>
</div>