<style>
.content {
  max-width: 300px;
  margin: auto;
}
</style>
<body>
<div class="content">
  <h1>
    Create List Page:
  </h1> 

  Group Select:<br>
  <select [(ngModel)]="selectedGroup">
    <option *ngFor="let group of Groups"
    [value]="group.Id">
      {{group.Description}}
    </option>
  </select>
  
  
  <br>

  Wish List:<br>
  <div *ngFor="let item of WishList">
  <input type="text" name="wishlistitem_{{item.Id}}" [(ngModel)]="item.Description"><br>
  </div>
  <button (click)="AddList()"> Add Item </button>

  <p>

  </p>
  <button (click)="SubmitList()"> Submit </button>
</div>
</body>