<style>
.content {
  max-width: 300px;
  margin: auto;
}
</style>
<body>
<div class="content">
  <h1>
    Create List Page:
  </h1> 

  Group Select:<br>
  <select [(ngModel)]="member.Group">
    <option *ngFor="let member of groupArray"
    [value]="group.Value" [attr.selected]="member.Group==group.Text ? true : null">
      {{group.Text}}
    </option>
  </select>

  <br>

  Wish List:<br>
  <div *ngFor="let member of WishList">
  <input type="text" name="wishlistitem_{{member.id}}" [(ngModel)]="member.item"><br>
  </div>
  <button (click)="AddList()"> Add Item </button>

  <p>

  </p>
  <button> Submit </button>
</div>
</body>